
h1{
  color:  #f57c00;

}


/* -----------------------------Regester------------------------ */

.addproduct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* padding-top: 20px; */
  height: 720px;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  background-color: #000000;
  width: 900px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.add h1 {
  color: orange;
  font-size: 30px;
  margin-bottom: 20px;
}

.add input[type="text"],
.add input[type="file"] {
  width: 600px;
  /* height: 40px; */
  padding: 12px;
  /* margin-bottom: 15px; */
  border-style: none;
  border-radius: 50px;
  font-size: 15px;

  background-color: #5e5b5b65;
}

/* .add input:focus {
  border-color: #050505;
  outline: none;
} */

.add_btn{

  padding-top: 15px;
}
.add button {
  align-items: end;
  width: 400px;
  height: 40px;
  background-color: #f57c00;
  color: #000000;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add button:hover {
  background-color: #e56a00;
}

.error {
  color: red;
  font-size: 15px;
/* 
  margin: -2px 0 10px; */
}


  .product-remove>button{
    width: 200px;
    background-color: red;
  }


  /* ------------------------------------------------------------------------------------ */



  /* ------------------------------------Viewuser----------------------------------------- */

  .view-user {

    padding-top: 50px;

    width: 100%;

    /* background-color: aqua; */

    color: #d5dbdb;

    display: flex;

    justify-content: center;

    align-items: center;

  }

 

  .view-user-container {

    display: grid;

    gap: 20px;

    grid-template-columns: 1fr; /* One column to make each user-container align on the next line */

   

  }

 

  .user-container {

    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 1500px;
    border-radius: 10px;
    background-color: #f57c00;
    padding-left: 30px;

  }

  .user-container:hover {
    transform: translateY(-5px); /* Lifts the box on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    transition: all 0.3s ease;
  }


 

  .user-data {

    width: 400px;
    height: 50px;
    background-color: rgba(56, 240, 0, 0);
    border-radius: 5px;
   color: black;
    align-content: center;
    font-weight: 600;


  }

  .user-delt>button{

    background-color: red;

   

  }
  .user-delt{
    width: 150px;

  }




  /* ------------------------------------------------------------------------------------ */